{% extends "front/base.html.twig" %}

{% block container %}
    <div class="well">


        {# <form method="POST" action="#" enctype="multipart/form-data"> #}
        {{ form_start(form,{'attr':{'novalidate':'novalidate', 'class':'needs-validation'}}) }}

        <div class="form-group">
            <label for="user_name">Imię</label>
            {# <input type="text" class="form-control" name="name" id="inputName" value="" autofocus/> #}
            {{form_widget(form.name)}}

            <div class="invalid-feedback">
                {{form_errors(form.name)}}
            </div>
        </div>


        <div class="form-group">
            <label for="user_surname">Nazwisko</label>
            {# <input type="text" class="form-control" name="surname" id="inputSurname" value=""/> #}
            {{form_widget(form.surname)}}
            <div class="invalid-feedback">
                {{form_errors(form.surname)}}
            </div>
        </div>


        <div class="form-group">
            <label for="user_email">E-mail</label>
            {# <input type="email" class="form-control" name="email" id="inputEmail" value=""/> #}
            {{form_widget(form.email)}}
            <div class="invalid-feedback">
                {{form_errors(form.email)}}
            </div>
        </div>



        <div class="form-group">
            <label for="user_phone">Telefon</label>
            {# <input type="text" class="form-control" name="phone"  id="phone" value=""/> #}
            {{form_widget(form.phone)}}
            <div class="invalid-feedback">
                {{form_errors(form.phone)}}
            </div>
        </div>


        <div class="form-group">
            <label for="user_password_first">Hasło</label>
            {# <input type="password" class="form-control" name="password" value="" id="inputPassword" value=""/> #}
            {{form_widget(form.password.first)}}
            <div class="invalid-feedback">
                {{form_errors(form.password.first)}}
            </div>
        </div>


        <div class="form-group">
            <label for="user_password_second">Powtórz hasło</label>
            {# <input type="password" class="form-control" name="password2" value="" id="inputRepeatPassword"/> #}
            {{form_widget(form.password.second)}}
            <div class="invalid-feedback">
                {{form_errors(form.password.second)}}
            </div>
        </div>

        <div class="form-group">
            <label for="image">Wyślij zdjęcie</label>
            <input type="file" size="32" name="image_field" id="image">
        </div>

        <button type="submit" class="btn btn-primary">Dodaj</button>

        {{form_end(form)}}


    </div>

{% endblock %}