{% extends 'front/base.html.twig' %}

{% block container %}
	<div>
		<h1>Lista Pracowników:</h1>
	</div>

	<div class="well">
		<div>
			<a href="{{path('admin_add_employee')}}">
				<button class="btn btn-primary">
					<i class="fa fa-plus"></i>
					Dodaj Pracownika
				</button>
			</a>
		</div>
		<div id="dbaccounts" class="table-responsive-wrapper">
			<table class="list table-highlight table table-bordered table-responsive2" id="myTable">
				<thead>
					<tr>
                        <th scope="col" class="col1 thpointer" onclick="sortTable(0)">Nazwa firmy <i
                                class="fa fa-arrow-down" aria-hidden="true"></i></th>
                        <th scope="col" class="col1 thpointer" onclick="sortTable(1)">Nazwa domeny <i
                            class="fa fa-arrow-down" aria-hidden="true"></i></th>
						<th scope="col" class="col1"></th>
						<th scope="col" class="col1 thpointer" onclick="sortTable(1)">Imię
							<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</th>
						<th scope="col" class="col1 thpointer" onclick="sortTable(2)">Nazwisko
							<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</th>
						<th scope="col" class="col1">E-mail</th>
						<th scope="col" class="col1">Telefon</th>
                        <th scope="col" class="col1">Wykupiony pakiet (godz.)</th>
                        <th scope="col" class="col1">Okres Rozliczenia</th>
						<th scope="col" class="col1 thpointer" onclick="sortTable(5)">Data dodania klienta
							<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</th>

					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								{{ user.company_name }}
							</td>
                            <td>
								{{ user.domain }}
							</td>
							<td>
								{{ user.name }}
							</td>
							<td>
								{{ user.surname }}
							</td>

							<td>
								{{ user.email }}
							</td>
							<td>
								{{ user.phone }}
							</td>
							<td>
								{# {{ user.date_add|date('Y-m-d') }} #}
							</td>

							<td style="max-width: 4.7rem;">
								{# <a href="/edituser/index?id={{ user.id }}"> #}
									<button class="btn btn-primary">Edytuj</button>
								{# </a> #}

								{# <button type="button" class="btn btn-danger delete" data-toggle="modal" data-target="#exampleModal" data-id="{{ user.id }}" data-name="{{ user.name }}" data-surname="{{ user.surname }}">
									Usuń
								</button> #}
								
                                <button type="button" class="btn btn-danger delete"> Usuń</button>
								<a href="{{path('admin_delete', {'id':user.id})}}">Usuń2 </a>
								<a href="{{path('admin_edit', {'id':user.id})}}">edytuj 2 </a>
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
