{% extends 'base.html.twig' %}

{% block title %}Pakiet Pomocna Dłoń
{% endblock %}

{% block body %}

{# {% block header %} #}
<div id="landsacpe-hint">
	<div id="logo"></div>
	<div id="pict"></div>
	<p>Obróć swoje urządzenie do pozycji pionowej</p>
</div>

<header id="main-header">
	<a class="wide" id="logo" href="/home/index">
		<div id="logo-icon"></div>
		<div
			id="logo-cms">{# {{ current_user.email }} #}
		</div>
	</a>
	<a class="header-button btn-anim" id="sidebar-switcher" href="#">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</a>

	<a class="header-button qtip-on btn-anim" id="user-logout" href="/logout" data-hasqtip="0" oldtitle="Wyloguj" title="">
		<div style="display: flex;">
			<div style="margin-right: 5px;">
				<svg style="margin-top: 4px;" width="3em" height="3em" viewbox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
					<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
				</svg>
			</div>
			<div>
				Wyloguj
			</div>
		</div>
	</a>

	<a class="header-button buttons-sm-up qtip-on btn-anim" id="password-bt" href="/editMyData/index" data-hasqtip="1" oldtitle="Zmiana hasła" title="">
		<i class="fa fa-unlock-alt fa-2x"></i>
		Hasło
	</a>
	<a class="header-button buttons-sm-up qtip-on btn-anim" id="user-avatar" href="https://poczta.am1.pl/" data-hasqtip="2" aria-describedby="qtip-2">
		<i class="fa fa-envelope fa-2x"></i>
		<span class="hidden-md-down">Poczta</span>
	</a>
</header>

<nav id="main-sidebar" class="wide sm-hidden">
	<div
		id="user-box">
		{# {% if current_user.img == null %} #}
		<a id="user-avatar" href="/home/index"><img src="/img/avatar/userdefalut.png"></a>
		{# {% else %}
					<a id="user-avatar" href="/home/index"><img src="/img/avatar/{{ current_user.img }}"></a> #}
		{# {% endif %} #}
		<div id="user-menu">
			<p class="welcome">DZIEŃ DOBRY</p>
			<p class="welcome-desc">Witamy w systemie do zarządzania kontem
				{# {{ current_user.email }} #}
			</p>
			<a class="user-messages" href="/mailToUs/index">
				<i class="fa fa-envelope fa-2x"></i>
			</a>
		</div>
	</div>

	<ul id="main-buttons">
		<li>
			<a class="main-button " data-submenu="dashboard" id="bt-dashboard" href="/home/index">
				<i class="fa fa-home fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">MOJE KONTO</span>
			</a>
		</li>
		{# {% if current_user.access == "administrator" %} #}
		<li>
			<a class="main-button " data-submenu="email" id="bt-email" href="/addNewEmployee/showList">
				<i class="fa fa-users fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">Pracownicy</span>
			</a>
		</li>

		<li>
			<a class="main-button" data-submenu="domains" id="bt-domains" href="/addNewCustomer/showList">
				<i class="fa fa-users fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">KLIENCI</span>
			</a>
		</li>

		<li>
			<a class="main-button" data-submenu="poczta" id="bt-poczta" href="/mailToUs/mailBox">
				<i class="fa fa-envelope fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">POCZTA Pakiet</span>
			</a>
		</li>

		<li>
			<a class="main-button" data-submenu="poczta-centrum" id="bt-poczta-centrum" href="/mailToUs/mailBoxCentrum">
				<i class="fa fa-envelope fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">POCZTA Centrum</span>
			</a>
		</li>

		<li>
			<a class="main-button" data-submenu="messages" id="bt-messages" href="/addMessages/box">
				<i class="fa fa-envelope fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">KOMUNIKATY</span>
			</a>
		</li>

		<li>
			<a class="main-button" data-submenu="db" id="bt-db" href="/raportList/index">
				<i class="fa fa-chart-pie fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">RAPORTY</span>
			</a>
		</li>
		{# {% endif %} #}

		<li>
			<a class="main-button" data-submenu="ftp" id="bt-ftp" href="/taskList/index">
				<i class="fa fa-tasks fa-2x fmt"></i>
				<span style="font-size: 0.5rem;">ZADANIA</span>
			</a>
		</li>

	</ul>
	<div id="submenu">

		<div id="submenu-dashboard" class="submenu-wrap" style="display: none;">
			<div class="submenu-title">MOJE KONTO</div>
			<ul>
				<li><a class="btn-anim" id="password" href="/editMyData/index"><i class="fa fa-key fm-m"></i>Zmiana
												hasła</a></li>
				<li><a class="btn-anim" id="password" href="/editMyData/indexCategories"><i class="fa fa-key fm-m"></i>Kategorie</a></li>
			</ul>
		</div>
		<div id="submenu-email" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">PRACOWNICY</div>
			<ul>

				<li><a class="btn-anim " id="pop-email-accounts" href="/addNewEmployee/new"><i class="fa fa-user-plus fm-m"></i>Dodaj pracownika</a></li>

				<li><a class="btn-anim " id="pop-create" href="/addNewEmployee/showList"><i class="fa fa-list-ul fm-m"></i>Lista pracowników</a></li>

			</ul>
		</div>
		<div id="submenu-domains" class="submenu-wrap" style="display: none;">
			<div class="submenu-title">KLIENCI</div>
			<ul>
				<li><a class="btn-anim " id="pop-email-accounts" href="/addNewCustomer/new"><i class="fa fa-user-plus fm-m"></i>Dodaj klienta</a></li>

				<li><a class="btn-anim " id="pop-create" href="/addNewCustomer/showList"><i class="fa fa-list-ul fm-m"></i>Lista klientów</a></li>
				<li><a class="btn-anim " id="pop-create" href="/addNewPakiet/index"><i class="fa fa-plus fm-m"></i>Dodaj pakiet</a></li>
			</ul>
		</div>

		<div id="submenu-ftp" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">ZADANIA</div>
			<ul>
				<li><a class="btn-anim " id="pop-email-accounts" href="/addNewTask/index"><i class="fa fa-plus fm-m"></i>Dodaj zadanie</a></li>

				<li><a class="btn-anim " id="pop-create" href="/taskList/index"><i class="fa fa-list-ul fm-m"></i>Lista zadań</a></li>
			</ul>
		</div>

		<div id="submenu-db" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">RAPORTY</div>
			<ul>
				<li>
					<a class="btn-anim " id="pop-email-accounts" href="/raportList/index">
						<i class="fa fa-chart-pie fm-m"></i>Bieżące - pakiet</a>
				</li>

				<li>
					<a class="btn-anim " id="pop-create" href="/raportList/archival">
						<i class="fa fa-archive fm-m"></i>Archiwalne - pakiet</a>
				</li>
				<li>
					<a class="btn-anim " id="pop-create" href="/raportList/allraports">
						<i class="fa fa-archive fm-m"></i>Wszystkie raporty</a>
				</li>
				<!-- <li><a class="btn-anim" id="pop-create" href="/raportList/allArchivalRaports"><i
										class="fa fa-archive fm-m"></i>Wszystkie raporty</a></li> -->
			</ul>
		</div>

		<div id="submenu-messages" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">KOMUNIKATY</div>
			<ul>
				<li><a class="btn-anim" id=" pop-email-accounts"
												href=" /addMessages/index"><i class="fa fa-envelope fm-m"></i>Napisz komunikat</a></li>

				<li><a class="btn-anim"  id=" pop-create"
												href=" /addMessages/box"><i class="fa fa-archive fm-m"></i>Komunikaty</a></li>
			</ul>
		</div>

		<div id="submenu-poczta" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">POCZTA</div>
			<ul>
				<li><a class="btn-anim"  id="pop-email-accounts"
												href=" /mailToUs/index"><i class="fa fa-envelope fm-m"></i>Napisz do nas</a></li>

				<li><a class="btn-anim"  id="pop-create"
												href=" /mailToUs/mailBox"><i class="fa fa-archive fm-m"></i>Skrzynka odbiorcza</a></li>
			</ul>
		</div>

		<div id="submenu-poczta-centrum" class="submenu-wrap " style="display: none;">
			<div class="submenu-title">POCZTA2</div>
			<ul>
				<li><a class="btn-anim"  id="pop-create" href="/mailToUs/mailBoxCentrum"> <i class="fa fa-archive fm-m"></i>Skrzynka odbiorcza</a></li>
			</ul>
		</div>

	</div>
	<div class="clear"></div>
</nav>
{# {% endblock %} #}


<div id="main-content" class="container-fluid-Alp sidebar-wide">
	{# {% block content %} #}

	<div id="front-page">
		{# {% block header1 %} #}
		<div class="header-1">
			<div class="left col-xl-6">
				<span class="title">
                 {# {% block header1Title %}{% endblock %} #}
					</span>
				</div>
				<div class="right col-xl-6" id="title-buttons-bar">
					<div id="title-buttons" class="pull-xl-right pull-xs-left">
						<a class="title-button qtip-on btn-anim" id="webmail-bt" href="/home/index" data-hasqtip="6" oldtitle="Poczta" title="" aria-describedby="qtip-6">
							<i class="fa fa-user fa-2x"></i>
							{# {{ current_user.name }} {{ current_user.surname }} - {{ current_user.access }} #}
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			{# {% endblock  %} #}

			{# {% block header2 %} #}
				<div
					class="header-2">

					{# {% if raportsa is empty %} #}
					<div class="col-lg-6" id="domain-switch" style="visibility: hidden;"></div>
					{# {% else %}
					
									<div class="col-lg-6" id="domain-switch">
										<div>
											<span class="domain">Domena:
											</span>
											<form id="form-domain">
												<fieldset class="form-group">
													<select class="form-control" id="domain-select">
														<option>WYBIERZ DOMENĘ</option>
														{% for raport in raportsa %}
														<option>{{ raport.name_domain }}</option>
														{% endfor %}
													</select>
												</fieldset>
											</form>
										</div>
									</div>
									{% endif %} #}

					<div class="col-lg-6" id="header-user">
						<div class="pull-lg-right">
							<span class="owner">Właściciel konta</span>
							<span class="login">Login:
								{# <strong>{{ current_user.email }}</strong> #}
							</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div id="container">

					{# {% block container %}{% endblock %} #}
				</div>
			</div>

			<footer class="wide front-page">
				<div class="footer-bar">
					<div class="col-lg-3 footer-box color1 col-1400-6">
						<div class="logoa"></div>
						<p>PANEL ZARZĄDZANIA SYSTEMEM<br>ALP MANAGEMENT SYSTEM</p>
					</div>
					<div class="col-lg-3 footer-box color2 col-1400-hide">
						<p>PROWADZONY PRZEZ<br>ALPANET - POLSKIE SYSTEMY INTERNETOWE</p>
					</div>
					<div class="icons">
						<div class="icon icon1a"></div>
						<div class="icon icon2a"></div>
						<div class="icon icon3a"></div>
						<div class="icon icon4a"></div>
						<div class="icon icon5a"></div>
						<div class="icon icon6a"></div>
						<div class="icon icon7a"></div>
						<div class="icon icon8a"></div>
					</div>
				</div>
			</footer>

		</div>


	{% endblock %}
